.check{
    border: 1px solid red;
}
.mainDiv{
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.margin{
    width: 430px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px  grey ;
    border-radius: 5px;
    

}

.LoginDiv{
    height: 70vh;
    
}
.SignupDiv{
    height: 70vh;
    display: none;
}
.SignupMenu{
    display: none;
}
#waitDiv{
    display: none;
}
.contentDiv{
    font-size: larger;
    font-weight: 600;
    text-align: left;
    box-shadow: 0px 0px 10px 0px gray;
    margin: 15px 0px;
    height: 35px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.sellerPic{
    height: 250px;
    border: 1px solid gray;
    border-radius: 400px;
}
.ListProduct{
    padding: 10px;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 10px;
    justify-content: center;
}
.maouot{
    margin: 19px auto !important;
}
.ProdutctListDiv{
    display: none;
}
.ActiveOrderDiv{
    display: none;
}
.nav-link{
    color: white;
    font-size: large;
    font-weight: 450;
}
.nav-link:hover{
    color: white;
    border-bottom: 2px solid white;
}
.btnSearch{
    background-color: rgb(27, 99, 255);
    outline: 2px solid white;
    color: white;
    font-weight: 500;
}
.btnSearch:hover{
    color: white;
    background-color: rgb(46, 108, 241); ;
}
.pageActive{
    border-bottom: 2px solid white;
    font-weight: bold;
}
.indexContentDiv{
    margin-top: 10em;
}
.buttonGroup{
    width: 162px;
    margin: 10px auto;
}
.VendorData{
    display: none;
}
#listProductInputDiv , #addProductBtn, #ShowListProductDiv{
    display: none;
}
/* .imagesDiv, .z-index{
    z-index: 1;
  } */
.index{
    z-index: 3;
}
  





@media screen and (max-width:426px) {

   .margin{
    width: 100vw;
   }
    
}